body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
 
}

h1,h2 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

fieldset {
    margin-bottom: 20px;
    /* border: 1px solid #ccc;
    padding: 10px; */
}

label {
    display: block;
    margin-bottom: 5px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    
}

.flex-item {
    flex: 1;
    margin-right: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="Availability"],
input[type="Education"],
input[type="skills"],
input[type="Refrences"],
input[type="history"],

textarea {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: hsl(210, 11%, 96%);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #617a96;
}

#error-message {
    color: rgb(104, 8, 8);
    margin-bottom: 10px;
}

#applicationsTable {
    text-align: center;
}

#tableData {
    width: 100%;
    border-collapse: collapse;
}

#tableData th,
#tableData td {
    padding: 8px;
    border: 1px solid #ccc;
}

#tableData th {
    background-color: #f2f2f2;
}

.flex-containerr {
    display: flex;
    align-items: stretch;
    margin-left: 6%;
    margin-right: 6%
}

.flex-containerr>div {
    background-color: white;
    margin: 5px;
    text-align: left;
    line-height: 5px;
    font-size: 15px;
}
